In [6]:
# Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine

In [7]:
# Create a connection to the Census database
database_path_census = "../Resources/Census_Data.sqlite"
database_path_zip_census = "../Resources/zip_census_Data.sqlite"

census_engine = create_engine(f"sqlite:///{database_path_census}")
zip_census_engine = create_engine(f"sqlite:///{database_path_zip_census}")

census_query = 'select * from Census_Data'
zip_census_query = 'select * from zip_census_Data'

census_connection = census_engine.connect()
zip_census_connection = zip_census_engine.connect()

In [8]:
# Query All Records in the the City Table

census_data = pd.read_sql(census_engine, census_connection)

ObjectNotExecutableError: Not an executable object: Engine(sqlite:///../Resources/Census_Data.sqlite)

In [ ]:
# Create a connection to the Zip database

In [ ]:
# Query All Records in the Zip Table

In [ ]:
# Merge the columns

In [ ]:
# Combined Data