In [3]:
# Import Dependencies
import pandas as pd

In [4]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data
df_frames = pd.DataFrame([{'Frame': 'Ornate',
                           'Price': 15.0,
                           'Sales': 100
                          }, 
                          {'Frame': 'Ornate',
                           'Price': 15.0,
                           'Sales': 100
                          }, 
                          {'Frame': 'Ornate',
                           'Price': 15.0,
                           'Sales': 100
                          }])

In [3]:
# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data

               Painting    Popularity  Price
0  Mona Lisa (Knockoff)  Very Popular     25
1   Van Gogh (Knockoff)       Popular     20
2       Starving Artist       Average     10
3       Toddler Drawing   Not Popular      1